@using Microsoft.AspNetCore.Identity
@using todoapp.Models
@using Identity.Dapper.Entities
@using todoapp.Entities

@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

@if (SignInManager.IsSignedIn(User))
{


    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" asp-controller="Account" asp-action="LogOff">
            Logout
        </a>
    </li>
}
else
{

    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" asp-controller="Account" asp-action="Login">
            Login
        </a>
    </li>
}

