@using Microsoft.AspNetCore.Identity
@using todoapp.Models
@using Identity.Dapper.Entities
@using todoapp.Entities

@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

@if (SignInManager.IsSignedIn(User))
{


    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a class="d-block"  asp-controller="Manage" asp-action="Index" title="Manage">@User.Identity.Name</a>
        </div>
    </div>

}
